@charset "UTF-8";
@use "./variables" as *;

.p-chronology {
  &__year {
    h2 {
      text-align: left;
      display: block;
      color: #553116;
      font-family: "Koulen", system-ui;
      font-weight: 400;
      font-size: 50px;
      letter-spacing: 10px;
    }
    ul {
      li {
        display: flex;
        align-items: center;
        p,
        a {
          font-size: 24px;
          color: #553116;
        }
        p {
          &:first-of-type {
            margin-right: 50px;
            font-weight: 700;
          }
        }
        .p-chronology__year__tags {
          margin-right: 50px;
        }
        a {
          text-decoration: underline;
          font-size: 24px;
          display: flex;
          align-items: center;
          transition: 0.3s all;
          &:hover {
            opacity: 0.6;
            transition: 0.3s all;
          }
          &::after {
            content: "";
            display: block;
            width: 40px;
            height: 40px;
            margin-left: 50px;
            aspect-ratio: 1/1;
            background-image: url(/official/img/arrow-right.svg);
            background-repeat: no-repeat;
          }
        }
      }
    }
  }
  &__title {
    width: 50%;
    border-bottom: 1px solid #c9aa94;
    padding-left: 20px;
  }
}

@media (max-width: $breakpointMobile) {
  .p-chronology {
    &__year {
      h2 {
        font-weight: 400;
        font-size: 24px;
        letter-spacing: 10px;
      }
      ul {
        padding: 0;
        li {
          p,
          a {
            font-size: 14px;
          }
          p {
            &:first-of-type {
              margin-right: 10px;
              font-weight: 700;
            }
          }
          .p-chronology__year__tags {
            margin-right: 10px;
          }
          a {
            font-size: 24px;
            &::after {
              width: 40px;
              height: 40px;
              margin-left: 10px;
              aspect-ratio: 1/1;
            }
          }
        }
      }
    }
    &__title {
      width: 50%;
      border-bottom: 1px solid #c9aa94;
      padding-left: 10px;
    }
  }
}
