main {
  background: #fbf0de;
}

.projects {
  height: auto;
  width: 90%;
  display: grid;
  /* column-gap: 77px; */
  row-gap: 130px;
  grid-template-columns: repeat(3, minmax(200px, 1fr));
  margin: 140px auto 0 auto;
  padding-bottom: 130px;
}

.projects hr {
  width: 90%;
  margin: 0 auto;
}

.projects img {
  object-fit: cover;
  width: 100%;
  aspect-ratio: 14/10;
  display: block;
}

.project1,
.project2,
.project3,
.project4,
.project5,
.project6,
.project7,
.project8 {
  width: 350px;
  margin: 0 auto;
}

.text1,
.text2,
.text3,
.text4,
.text5,
.text6,
.text7,
.text8 {
  background: #fff;
  width: 350px;
  height: 178px;
  position: relative;
  color: #553116;
  font-family: Inter;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 1.6px;
}

.text1 h3,
.text2 h3,
.text3 h3,
.text4 h3,
.text5 h3,
.text6 h3,
.text7 h3,
.text8 h3 {
  position: absolute;
  top: 15%;
  left: 5%;
}

.content {
  position: absolute;
  top: 35%;
  left: 5%;
  width: initial !important;
  background-color: #fff !important;
}

.projects hr {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translateX(-50%);
}

.readmore {
  position: absolute;
  top: 80%;
  left: 60%;
  white-space: nowrap;
  color: #553116;
  font-family: Julius Sans One;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 1.5px;
}

@media screen and (max-width: 1300px) {
  .projects {
    grid-template-columns: repeat(2, minmax(200px, 1fr));
  }
}

@media screen and (max-width: 1000px) {
  .pc {
    display: none;
  }

  .projects {
    row-gap: 25px;
  }
}

@media screen and (max-width: 850px) {
  .projects {
    grid-template-columns: repeat(1, minmax(200px, 1fr));
    margin-top: 25px;
  }

  .projects hr {
    top: 80%;
  }

  .project1,
  .project2,
  .project3,
  .project4,
  .project5,
  .project6,
  .project7,
  .project8 {
    height: 200px;
    margin: 0 auto;
    display: flex;
  }

  .projects img {
    width: 45%;
  }

  .text1,
  .text2,
  .text3,
  .text4,
  .text5,
  .text6,
  .text7,
  .text8 {
    background: #fff;
    height: 100%;
    position: relative;
    color: #553116;
    font-family: Inter;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 1.6px;
    text-align: center;
  }

  .text1 h3,
  .text2 h3,
  .text3 h3,
  .text4 h3,
  .text5 h3,
  .text6 h3,
  .text7 h3,
  .text8 h3 {
    position: absolute;
    font-size: 13px;
    top: 15%;
    left: 5%;
  }

  .content {
    position: absolute;
    font-size: 11px;
    top: 45%;
    left: 5%;
  }

  .readmore {
    top: 85%;
    left: 50%;
  }
}

@media screen and (max-width: 450px) {
  .project1,
  .project2,
  .project3,
  .project4,
  .project5,
  .project6,
  .project7,
  .project8 {
    height: 145px;
    width: 100%;
    margin: 0 auto;
    display: flex;
  }

  .readmore {
    font-size: 11px;
  }
}

@media screen and (min-width: 560px) and (max-width: 850px) {
  .readmore {
    left: 60%;
  }
}
