---
import Layout from "../../layouts/Layout.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import "/src/styles/ichinen.css";

const title = "農楽塾の一年 | 学生NPO 農楽塾公式HP | 早稲田 農業サークル";
const description =
  "農楽塾の一年の流れをご紹介します。私たちは都心で「農」を実践しながら、普段、農業を経験できない人に、その機会を提供します。土に触れ、汗を流す楽しさを知ってほしい。そして、あなたのすぐそばにある「農」について、すこしでも考えてもらいたい。それが、私たち「農楽塾」の願いです。";
const og_image = "https://nogakujuku.github.io/official/img/noukahoumon.webp";
---

<Layout title={title} description={description} og_image={og_image}>
  <!-- ヘッダーここから -->
  <Header />
  <!-- ヘッダーここまで -->
  <main>
    <div class="title">
      <h1>農楽塾の一年</h1>
    </div>
    <div class="season spring">
      <h2>SPRING</h2>
      <div class="season_months_wrapper">
        <div class="month april">
          <div class="month_name_wrapper left_month_name_wrapper">
            <h3>４月</h3>
            <div class="left_month_circle"></div>
          </div>
          <ul class="april_list">
            <li>春新歓</li>
            <li>ボラカフェ</li>
          </ul>
          <div class="button_wrapper">
            <button
              type="button"
              onclick="window.open('https://www.waseda.jp/inst/wavoc/project/volcafe/')"
              >ボラカフェとは？</button
            >
          </div>
          <div class="taokoshi">
            <div class="img_wrapper">
              <p>田おこし↓</p>
              <img src="/official/img/taokoshi.webp" alt="田おこしの画像" />
            </div>
          </div>
          <div class="shirokaki">
            <div class="img_wrapper">
              <p>代掻き↓</p>
              <img
                class="shirokaki_pc"
                src="/official/img/shirokaki1.webp"
                alt="代掻きの画像"
              />
              <img
                class="shirokaki_smartphone"
                src="/official/img/shirokaki2.webp"
                alt="代掻きの画像"
              />
            </div>
          </div>
          <div class="shirokakitowa_wrapper">
            <p class="shirokakitowa">
              「代掻き」とは、田起こしの後、<br />
              田植えの前に行われる作業です。<br />
              田んぼに水を張り、泥をかくはんし、<br />
              平らにします。
            </p>
          </div>
        </div>
        <div class="month may">
          <div class="month_name_wrapper right_month_name_wrapper">
            <h3>５月</h3>
            <div class="right_month_circle"></div>
          </div>
          <div class="right_month_detail">
            <div class="teishoku_wrapper">
              <ul class="may_list">
                <li>春定植</li>
              </ul>
              <div class="teishokutowa_p_wrapper">
                <p class="teishokutowa">
                  「定植」とは、苗床やプラン<br />
                  ターを畑に植える作業のこと
                </p>
              </div>
            </div>
            <div class="step_gakkyu_shirokaki">
              <div class="img_wrapper">
                <p>ステップ学級代掻き ↓</p>
                <img
                  src="/official/img/stepgakkyushirokaki.webp"
                  alt="ステップ学級代掻きの画像"
                />
              </div>
            </div>
            <div class="taue">
              <div class="img_wrapper">
                <p>田植え ↓</p>
                <img src="/official/img/taue.webp" alt="田植えの画像" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="season summer">
      <h2>SUMMER</h2>
      <div class="season_months_wrapper">
        <div class="month june">
          <div class="month_name_wrapper left_month_name_wrapper">
            <h3>６月</h3>
            <div class="left_month_circle"></div>
          </div>
          <div class="noukahoumon">
            <div class="img_wrapper">
              <p>農家訪問 ↓</p>
              <img src="/official/img/noukahoumon.webp" alt="農家訪問の画像" />
            </div>
          </div>
          <div class="satoyamahozen">
            <div class="img_wrapper">
              <p>里山保全 ↓</p>
              <img
                src="/official/img/satoyamahozen.webp"
                alt="里山保全の画像"
              />
            </div>
          </div>
        </div>
        <div class="month july">
          <div class="month_name_wrapper right_month_name_wrapper">
            <h3>７月</h3>
            <div class="right_month_circle"></div>
          </div>
          <div class="right_month_detail">
            <ul class="july_list">
              <li>前期総会</li>
            </ul>
            <div class="wasedadetambo">
              <div class="img_wrapper">
                <p>↓ 早稲田で田んぼプロジェクト</p>
                <img
                  src="/official/img/wasedadetambo.webp"
                  alt="早稲田で田んぼプロジェクトの画像"
                />
              </div>
            </div>
          </div>
        </div>
        <div class="month august">
          <div class="month_name_wrapper right_month_name_wrapper">
            <h3>８月</h3>
            <div class="right_month_circle"></div>
          </div>
          <div class="right_month_detail">
            <div class="nethari">
              <div class="img_wrapper">
                <p>ネット張り ↓</p>
                <img src="/official/img/nethari.webp" alt="ネット張りの画像" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="season autumn">
      <h2>AUTUMN</h2>
      <div class="season_months_wrapper">
        <div class="month september">
          <div class="month_name_wrapper left_month_name_wrapper">
            <h3>９月</h3>
            <div class="left_month_circle"></div>
          </div>
          <div class="step_gakkyu_inekari">
            <div class="img_wrapper">
              <p>ステップ学級稲刈り</p>
              <!-- <img src="" alt="ステップ学級稲刈りの画像" /> -->
            </div>
          </div>
        </div>
        <div class="month october">
          <div class="month_name_wrapper right_month_name_wrapper">
            <h3>10月</h3>
            <div class="right_month_circle"></div>
          </div>
          <div class="right_month_detail">
            <ul class="october_list">
              <div>
                <li>籾摺り</li>
                <li>冬定植</li>
              </div>
              <li>古株すきこみ</li>
            </ul>
            <div class="satoyamainekari">
              <div class="img_wrapper">
                <p>里山稲刈り</p>
                <!-- <img
                  src=""
                  alt="里山稲刈りの画像"
                /> -->
              </div>
            </div>
            <div class="bucket_ine">
              <div class="img_wrapper">
                <p>↓ バケツ稲プロジェクト</p>
                <img
                  src="/official/img/bucketine.webp"
                  alt="バケツ稲プロジェクトの画像"
                />
              </div>
            </div>
            <div class="dakkoku">
              <div class="img_wrapper">
                <p>↓ 脱穀</p>
                <img src="/official/img/dakkoku.webp" alt="脱穀の画像" />
              </div>
            </div>
          </div>
        </div>
        <div class="month november">
          <div class="month_name_wrapper left_month_name_wrapper">
            <h3>11月</h3>
            <div class="left_month_circle"></div>
          </div>
          <div class="wasedasai">
            <div class="img_wrapper">
              <p>早稲田祭 ↓</p>
              <img src="/official/img/wasedasai.webp" alt="早稲田祭の画像" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="season winter">
      <h2>WINTER</h2>
      <div class="season_months_wrapper">
        <div class="month december">
          <div class="month_name_wrapper left_month_name_wrapper">
            <h3>12月</h3>
            <div class="left_month_circle"></div>
          </div>
          <ul>
            <li>後期総会</li>
          </ul>
          <div class="shukakusai">
            <div class="img_wrapper">
              <p>収穫祭</p>
              <!-- <img src="" alt="収穫祭の画像" /> -->
            </div>
          </div>
        </div>
        <div class="message">
          <div class="month_name_wrapper right_month_name_wrapper">
            <div class="right_month_circle"></div>
          </div>
          <p>
            <span>私たちは都心で「農」を</span><span>実践しながら、</span><span
              >普段、農業を経験できない人に、</span
            ><span>その機会を提供します。</span><span>土に触れ、</span><span
              >汗を流す楽しさを</span
            ><span>知ってほしい。</span><span>そして、あなたの</span><span
              >すぐそばにある</span
            ><span>「農」について、</span><span>すこしでも</span><span
              >考えてもらいたい。</span
            ><span>それが、</span><span>私たち「農楽塾」の願いです。</span>
          </p>
        </div>
        <div class="invitation">
          <p>
            農楽塾では、学年･所属を問わずに
            常に新メンバーを募集しています。活動に興味をもたれた方は、
            ぜひ各種SNSからご連絡ください。新歓期間以外は随時個別に
            説明会をさせていただきます。
          </p>
        </div>
      </div>
    </div>
    <div class="center_line"></div>
  </main>
  <!-- フッターここから -->
  <Footer />
  <!-- フッターここまで -->
</Layout>
