<footer>
  <div class = "link_block">
    <div class="link_group_1">
        <ul class = inside_the_page>
            <li class = "to_Top"><a href="index.html">トップ</a></li>
            <li class = link_item_1><a href="index.html#activity">ー活動内容</a></li>
            <li class = link_item_1><a href="index.html#admission">ー入会方法</a></li>
            <li class = link_item_1><a href="index.html#gallery">ーギャラリー</a></li>
            <li class = link_item_1><a href="index.html#active">ー活動場所</a></li>
        </ul>
        <ul class = outside_the_page>
            <li class = "link_blank"></li>
            <li class = link_item_2><a href="ichinen.html">農楽塾の一年</a></li>
            <li class = link_item_2><a href="coming-soon.html">ギャラリー一覧</a></li>
            <li class = link_item_2><a href="project.html">プロジェクト紹介</a></li>
            <li class = link_item_2><a href="coming-soon.html">メディア情報</a></li>
        </ul>
    </div>
    <a href="index.html"><img class="link_logo" src = "img/logo_2.webp"></a>
    <div class = "link_group_2">
        <p class = "link_item_3">お問い合わせは各種SNSから</p>
        <div class = "link_SNS">
          <a href="https://www.instagram.com/nogakujuku/" target="_blank"><img class = "link_SNS_logo" src = "img/Instagram_Glyph_Black 2.webp"></a>
          <a href="https://line.me/R/ti/p/@670jtxer" target="_blank"><img class = "link_SNS_logo" src = "img/LINE_Brand_icon.webp"></a>
          <a href="https://twitter.com/nogakujuku" target="_blank"><img class = "link_SNS_logo" src = "img/logo-black 2.webp"></a>
        </div>
    </div>
  </div>
  <div class="copyright">
    <p>農を楽しみ、農を考える</p>
    <small>@2023 Copyright:農楽塾</small>
  </div>
</footer>