<header>
  <div class="top">
    <!-- <img src="Group 180.png" alt=""> -->
    <a href="/official"
      ><img src="/official/img/nogakujuku_header_logo.webp" alt="" /></a
    >
    <ul class="header-menu">
      <li><a href="/official/year">農学塾の一年</a></li>
      <li><a href="/official/gallery">ギャラリー一覧</a></li>
      <li><a href="/official/projects">プロジェクト紹介</a></li>
      <li><a href="/official/media">メディア情報</a></li>
      <li>
        <div class="link_SNS pc-d-none">
          <a href="https://www.instagram.com/nogakujuku/" target="_blank"
            ><img
              class="link_SNS_logo"
              src="/official/img/Instagram_Glyph_Black 2.webp"
            /></a
          >
          <a href="https://line.me/R/ti/p/@670jtxer" target="_blank"
            ><img
              class="link_SNS_logo"
              src="/official/img/LINE_Brand_icon.webp"
            /></a
          >
          <a href="https://twitter.com/nogakujuku" target="_blank"
            ><img
              class="link_SNS_logo"
              src="/official/img/logo-black 2.webp"
            /></a
          >
        </div>
      </li>
    </ul>
    <div id="hamburger">
      <div class="icon">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
</header>
