---
import Layout from '../../layouts/Layout.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import '../../../public/css/project.css';
---
<Layout>
  <!-- ヘッダーここから -->
  <Header />
  <!-- ヘッダーここまで -->
  <main>
    <div class="project-title">
      <h1>プロジェクト紹介</h1>
      <img class="mainimg" src="projectimg/kindergarten1.webp" alt="" />
    </div>
    <div class="projects">
      <div class="project1">
        <img src="projectimg/project1.webp" alt="" />
        <div class="text1">
          <h3>早稲田で田んぼプロジェクト</h3>
          <p class="content">早稲田の地に田んぼの復活！</p>
          <hr />
          <a href="coming-soon.html" class="readmore">READ MORE</a>
        </div>
      </div>
      <div class="project2">
        <img src="projectimg/project2.webp" alt="" />
        <div class="text2">
          <h3>ステップ学級との食育プロジェクト</h3>
          <p class="content">早稲「田」で「食」と「農」を考えよう</p>
          <hr />
          <a href="coming-soon.html" class="readmore">READ MORE</a>
        </div>
      </div>
      <div class="project3">
        <img src="projectimg/kindergarten2.webp" alt="" />
        <div class="text3">
          <h3>子供課企画</h3>
          <p class="content">田んぼってなあに？</p>
          <hr />
          <a href="coming-soon.html" class="readmore">READ MORE</a>
        </div>
      </div>
      <div class="project4">
        <img src="projectimg/kakashi.webp" alt="" />
        <div class="text4">
          <h3>バケツ稲プロジェクト</h3>
          <p class="content">
            早稲田で農業をやっていることをより多くの人に知ってもらう！
          </p>
          <hr />
          <a href="coming-soon.html" class="readmore">READ MORE</a>
        </div>
      </div>
      <div class="project5">
        <img src="projectimg/project5.webp" alt="" />
        <div class="text5">
          <h3>所沢農作業体験プロジェクト</h3>
          <p class="content">
            埼玉県所沢市にある関谷農園にて
            月に一回農作業体験を行うプロジェクト
          </p>
          <hr />
          <a href="coming-soon.html" class="readmore">READ MORE</a>
        </div>
      </div>
      <div class="project6">
        <img src="projectimg/project6.webp" alt="" />
        <div class="text6">
          <h3>菜園プロジェクト</h3>
          <p class="content">植物見本市</p>
          <hr />
          <a href="coming-soon.html" class="readmore">READ MORE</a>
        </div>
      </div>
      <div class="project7">
        <img src="projectimg/tougarashi.webp" alt="" />
        <div class="text7">
          <h3>内藤とうがらし再興プロジェクト</h3>
          <p class="content">内藤とうがらしの再興と地域ブランド化</p>
          <hr />
          <a href="coming-soon.html" class="readmore">READ MORE</a>
        </div>
      </div>
      <div class="project8">
        <img src="projectimg/satoyama.webp" alt="" />
        <div class="text8">
          <h3>里山でボランティア活動</h3>
          <p class="content">
            自然と人とのふれあいの中で、里山の魅力を感じよう
          </p>
          <hr />
          <a href="coming-soon.html" class="readmore">READ MORE</a>
        </div>
      </div>
    </div>
  </main>
  <!-- フッターここから -->
  <Footer />
  <!-- フッターここまで -->
</Layout>
